@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&family=Yanone+Kaffeesatz:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1%;
    max-height: 100%;
}
#quote-box {
    position: absolute;
    left: 0;
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: black;
    font-size: large;
    color: aliceblue;
    text-align: justify;
}
#text {
    font-size: 50px;
    color: darkorange;
    margin-bottom: 15px;
}
#author {
    font-size: 1.5rem;
    color: darkorange;
    text-align: right;
}
#controls {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
    position: fixed;
    top: 5%;
    left: 5%;
}
.new-quotes {
    padding: 1%;
    margin-bottom: 1%;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
    border-radius: 5px;
    border-style: none;
    color:aliceblue;
}
.new-quotes:hover {
    /*animation-name: blink;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;*/
    color: darkorange;
}
#new-quote {
    font-size: 1.5rem;
    color: darkorange;
}
i {
    color: aliceblue;
    size: 100px;
}
i:hover {
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 95vh;
    color: aliceblue;
    background-color: black;
}
#link {
    color: aliceblue;
    text-decoration: none;
}
#link:hover {
    color: darkorange;
}
@keyframes blink {
    0% {color: rgb(32, 29, 29);}
    /*10% {color: magenta;}*/
    20% {color: yellow;}
    /*30% {color: olivedrab;}
    40% {color: orangered;}
    50% {color: whitesmoke;}
    60% {color: cyan;}
    70% {color: orange;}
    80% {color: darkorchid;}
    90% {color: lightgoldenrodyellow;}
    100% {color: blue;}*/
  }